@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.defaultInputStyling {
		@apply shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none;
	}

	.errorInputStyling {
		@apply shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none border border-alert-red
	}

	.labelStyling {
		@apply block text-gray-700 text-sm font-bold mb-2
	}

	.errorMsgStyling {
		@apply text-xs text-alert-red italic
	}

	.borderDivider {
		@apply p-2 first-of-type:border-r-2 border-black
	}

	/* active link */
	.active {
		@apply font-semibold underline underline-offset-8
	}

	.h2 {
		@apply text-2xl text-center font-bold mb-2
	}

	.h3 {
		@apply text-lg text-center font-semibold mb-2
	}

	#dropzone {
		@apply shadow border-2 border-dashed border-gray-300 rounded-lg bg-gray-100 flex flex-col items-center p-10 cursor-pointer
	}

	#dropzone.drag-accept {
		@apply bg-green-400 border-green-300 text-green-900
	}

	#dropzone.drag-reject {
		@apply bg-red-400 border-red-300 text-red-900;
	}

	/* Table */

	table {
		@apply w-full
	}

	thead th {
		@apply p-3
	}

	tbody td {
		@apply px-3 py-2 md:py-4
	}

	tr td:last-of-type {
		@apply pl-3 pr-2 py-1
	}

}

@layer utilities {

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

.header-text {
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 1px black;
	font-family: 'Poppins', sans-serif;
}

input#star[type="radio"] {
	display: none;
}

/* Table */

/* rounded top edges */
th:first-of-type {
	border-top-left-radius: 1rem;
}

th:last-of-type {
	border-top-right-radius: 1rem;
}

/* rounded bottom edges */
tr:last-of-type td:first-of-type {
	border-bottom-left-radius: 1rem;
}

tr:last-of-type td:last-of-type {
	border-bottom-right-radius: 1rem;
}

td:first-of-type {
	width: auto;
}

th td:nth-of-type(2),
th td:nth-of-type(3),
tr td:nth-of-type(2),
tr td:nth-of-type(3) {
	width: 50%;
}
