@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.defaultInputStyling {
		@apply shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none;
	}

	.errorInputStyling {
		@apply shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none border border-alert-red
	}

	.labelStyling {
		@apply block text-gray-700 text-sm font-bold mb-2
	}

	.errorMsgStyling {
		@apply text-xs text-alert-red italic
	}

	.borderDivider {
		@apply p-2 first-of-type:border-r-2 border-black
	}

	.active {
		@apply font-semibold underline underline-offset-8
	}

	.h2 {
		@apply text-2xl text-center font-bold
	}

	#dropzone {
		@apply shadow border-2 border-dashed border-gray-300 rounded-lg bg-gray-100 flex flex-col items-center p-10 cursor-pointer
	}

	#dropzone.drag-accept {
		@apply bg-green-400 border-green-300 text-green-900
	}

	#dropzone.drag-reject {
		@apply bg-red-400 border-red-300 text-red-900
	}

}

.header-text {
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 1px black;
	font-family: 'Poppins', sans-serif;
}

input#star[type="radio"] {
	display: none;
}

th:first-of-type {
	border-top-left-radius: 1rem;
}

th:last-of-type {
	border-top-right-radius: 1rem;
}

tr:last-of-type td:first-of-type {
	border-bottom-left-radius: 1rem;
}

tr:last-of-type td:last-of-type {
	border-bottom-right-radius: 1rem;
}